<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Date</th>
      <th>Phase</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <% 20.times do %>
      <tr>
        <td><a href="/courses/1">read intro to math</a></td>
        <td>reading</td>
        <td>18 July, 2012</td>
        <td>first-pass</td>
        <td>new</td>
      </tr>
    <% end %>
  </tbody>
</table>