<div style="position:relative">
  
  <div id="document-wrapper">
    <div class="inner">
      Document Viewer
    </div>
  </div>

  <div id="extractor-wrapper">
    <ul id="extractor-tabs" class="nav nav-tabs">
      <li><a href="#identification">Course Info</a></li>
      <li><a href="#assignments">Assignments</a></li>
      <li class="pull-right">
       <button type="submit" class="btn btn-success">Save</button>
       <button type="submit" class="btn btn-primary">Finish</button>
      </li>
    </ul>

    <form class="tab-content inner" action="#" method="POST">

      <div class="tab-pane" id="identification">
        <label>University name</label>
        <select>
        <% TestData::Universities.sort.each do |name| %>
          <option><%= name %></option>
        <% end %>  
        </select> {{ university }}

        <label>Term</label>
        Select <em>"Spring"</em> for semester schedules beginning in January.
        <br>
        <select>
        <% TestData::Terms.each do |name| %>
          <option><%= name %></option>
        <% end %>
        </select> {{ term }}
        
        <label>Course name</label>
        <input type="text" class="span3" value="{{ name }}" placeholder="Type something…">
        
        <hr>
        
        <ul id="course_extra" class="nav nav-pills" style="margin-bottom:10px">
          <li><a href="#office_hours">Office Hours</a></li>
          <li><a href="#textbook_information">Textbook Information</a></li>
          <li><a href="#footnotes">Footnotes</a></li>
        </ul>
      
        <div class="tab-content">
          <div class="tab-pane" id="office_hours">
            <textarea class="span6" style="height:250px">{{ office_hours }}</textarea>
          </div>
        
          <div class="tab-pane" id="textbook_information">
            <textarea class="span6" style="height:250px">{{ textbook_information }}</textarea>
          </div>
        
          <div class="tab-pane" id="footnotes">
            <textarea class="span6" style="height:250px">{{ footnotes }}</textarea>
          </div>
        </div>
        
      </div>
  
      <div class="tab-pane" id="assignments">
        
        <div class="well" style="border:2px solid #FFF;">
          <p class="form-inline">
            <label>Name</label>
            <br>
            <input type="text" class="span3" placeholder="Assignment name"> &#160;
            <select>
              <option>[ choose type ]</option>
              <option>blah</option>
              <option>blah</option>
              <option>blah</option>
            </select>
          </p>

          <label>Topic (optional)</label>
          <input type="text" class="span6" placeholder="Topic">
          
          
          <label>Description</label>
          <textarea class="span6"></textarea>

          
          <label>Due Date</label>
          <input type="text" class="span1" placeholder="DD">
          <input type="text" class="span1" placeholder="MM">
          <input type="text" class="span1" placeholder="YYY">


          <label>Severity</label>
          <p class="form-inline">
            <label for="critical">
              <input type="radio" name="severity" value="critical" id="critical"> Critical
            </label> 
            <label for="normal">
              <input type="radio" name="severity" value="normal" id="normal"> Normal
            </label> 
            <label for="optional">
              <input type="radio" name="severity" value="optional" id="optional"> Optional
            </label>
          </p>
      
          <label class="checkbox">
              <input type="checkbox"> Is Deliverable?
          </label>
          
          <br>
          <p>
            <button class="btn">Updating Existing</button>
            <button class="btn btn-success pull-right">Add as New</button>
          </p>
        </div>
        
        <div id="assignments-wrapper">
          <table class="table table-striped">
            <tbody id="js_assignments_view">
              <tr>
                <td>{{name}}</td>
                <td>{{type}}</td>
                <td style="text-align:right">{{duedate}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

    </form>
  </div>
  
</div>
