<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>University</th>
      <th>Date Uploaded</th>
      <th>Phase</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody id="js_courses_view">
      <tr>
        <td><a href="/courses/{{id}}">{{ name }}</a></td>
        <td>{{ university }}</td>
        <td>{{ date_uploaded }}</td>
        <td>{{ phase }}</td>
        <td>{{ status }}</td>
      </tr>
  </tbody>
</table>